/* General Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 2em;
    color: #fff;
}

header {
    background: linear-gradient(to right, #0e1174, 70% , #c830aa);
    padding: 0.5px 20px ;
    text-align: left;
    color: white;
}

#event-count {
    font-size: 1em;
    font-weight:100;
}

/* Filter Section Styles */
.filter-section {
    /* background-color: #fff; */
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto;
    width: 100%;
    max-width: 1400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(14, 17, 116, 0.5);

}

/* Label and Input Group Styling */
.filter-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex: 1 1 auto;
    width: auto;
    color: black;
    background-color: rgb(235, 235, 235);
    border: none;
    border-radius: 4px;
}

.filter-group label {
    /* min-width: 70px; */
    text-align: left;
    padding-left: 10px;
}

.filter-group select,
.filter-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1 1 auto;
}

.filter-section button {
    padding: 8px 16px;
    background-color: white;
    color: black;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.filter-section button:hover {
    background-color: #9d5eee;
}


/* Mobile View */
@media (max-width: 768px) {
    .filter-section {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .filter-group {
        flex-direction: row;
        width: 100%;
    }

    .filter-group label {
        flex: 0 0 80px;
    }

    .filter-group select,
    .filter-group input {
        flex: 1 1 auto;
    }

    .filter-section button {
        width: 100%;
        margin-bottom: 10px;
    }
}


/* Main Layout for Cards */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 10px;
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    /* box-sizing: border-box; */
}

/* Each card should occupy 20% of the screen on larger screens (5 cards per row) */
article {
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: calc(20% - 20px);
    margin: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

article img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

article h2 {
    font-size: 1.2em;
    margin: 20px 10px 20px 10px;
}

article p {
    margin: 0px 0px 0px 10px;
}

article p.event-date {
    font-size: small;
    /* display: none; */
}

article .learn-more {
    margin: 10px;
    padding: 5px;
    width:fit-content;
    text-decoration: none;
    color: #2a2d9f;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    
}

article p.description description {
    margin-left: 10px;
}

article .description {
    display: none;
    margin-left: 10px;
    text-align: left;
}

article .description * {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

article .description p {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}



/* Mobile Responsiveness for Cards */
@media (max-width: 768px) {
    main {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    article {
        width: 100%;
        margin: 10px 0;
    }
}
